* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background-color: #222;
    background-size: auto ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.bienvenida {
    text-align: center;
    padding: 30px;
    background: #f9f9f9;
}
.bienvenida h2 {
    margin-bottom: 10px;
    color: #333;
}
.productos {
    padding: 30px;
    text-align: center;
}
.productos h3 {
    margin-bottom: 20px;
    color: #444;
}
.productos figure {
    display: inline-block;
    margin: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    background: #fff;
    transition: transform 0.5s;
}
.productos figure:hover {
    transform: scale(1.05);
    border-color: #6178d2;
}
.productos img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.productos figcaption {
    margin-top: 8px;
    font-weight: bold;
    color: #333;
}
.gif {
    padding: 30px;
    text-align: center;
    background: #f0f0f0;
}
.gif img {
    width: 400px;
    border: 3px solid #6178d2;
    border-radius: 10px;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
.logo img{
    width: 200px;
    height: auto;
    border-radius: 5px;
}
